Client/Connected Services/ServiceReference/Host.Objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Host.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Host.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="PortA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeA" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeB" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
</xs:schema>