Client/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightSchedule" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Host.Objects" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightSchedule_GetFlightSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightSchedule" />
  </wsdl:message>
  <wsdl:message name="IFlightSchedule_GetFlightSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightSchedule_GetFlightSchedule_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IFlightSchedule_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IFlightSchedule_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightSchedule">
    <wsdl:operation name="GetFlightSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightSchedule/GetFlightSchedule" message="tns:IFlightSchedule_GetFlightSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightSchedule/GetFlightScheduleResponse" message="tns:IFlightSchedule_GetFlightSchedule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFlightSchedule/GetFlightScheduleFaultExceptionFault" name="FaultExceptionFault" message="tns:IFlightSchedule_GetFlightSchedule_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightSchedule/TestConnection" message="tns:IFlightSchedule_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightSchedule/TestConnectionResponse" message="tns:IFlightSchedule_TestConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlightSchedule" type="tns:IFlightSchedule">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlightSchedule">
      <soap:operation soapAction="http://tempuri.org/IFlightSchedule/GetFlightSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IFlightSchedule/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightSchedule">
    <wsdl:port name="BasicHttpBinding_IFlightSchedule" binding="tns:BasicHttpBinding_IFlightSchedule">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFrso_1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>